<%# if @length > 0 %>
	// var myjson = <%=  @states %>;
	// 	$('#state option:gt(0)').remove();
	// 	$.each(myjson, function(key, value){
	// 		$('#state').append($("<option></option>").attr("value", key).text(value));
	// 	});
	// 	$('#state').show();
<%# else %>
	// $('#state').hide();
	// $('#state option:gt(0)').remove();
	// $('#state').next().html('Please select');
<%# end %>