<% if @length > 0 %>
	var myjson = <%=  @users %>;
		$('#user_id option:gt(0)').remove();
		$.each(myjson, function(key, value){
			$('#user_id').append($("<option></option>").attr("value", key).text(value));
		});
		$('#user_id').show();
		$('#user_id').next().html('Please select');
<% else %>
	$('#user_id').hide();
	$('#user_id option:gt(0)').remove();
	$('#user_id').next().html('Please select');
<% end %>