<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="display: table;margin: 0 auto;background-color:#fff;border:1px solid #e4e4e4;width:550px;" align="center"> 
      <center style="padding: 20px 0px"><%= image_tag attachments['header.png'].try(:url), style: "max-height:49px;max-width:116px;", alt: "login" %></center>
      <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-bottom:25px;"> 
        <tr align="center" valign="top" bgcolor="#26a7e9">
          <th style="background-color: #26a7e9;font-weight: normal;font-size: 22px;padding:15px 20px;color:#fff;font-family:arial;" width="50%" colspan="2">Hello <%= @resource.email %></th>
        </tr>
        <tr align="center" valign="top" style="background-color:#f7f7f7;">
          <p>Someone has requested a link to change your password. You can do this through the link below.</p>
          <p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token) %></p>
        </tr>
        <tr align="center" valign="top" style="background-color:#f7f7f7;">
        	<p>If you didn't request this, please ignore this email.</p>
        	<p>Your password won't change until you access the link above and create a new one.</p>
        </tr>
        <tr>
        	<% if @resource.has_role?(:admin)%>
						<% path = web_root_path %>
					<% elsif @resource.has_role?(:pcga) %>
						<% custom_url = @resource.care_giver_company.admin_setting.custom_url%>
						<% path = "www.homacare.net/"+custom_url%>
						<%# path = "farcare.qburst.com/"+custom_url%>
					<% elsif @resource.has_role?(:pcg) %>
						<% custom_url = @resource.care_giver.care_giver_company.admin_setting.custom_url%>
						<% path = "www.homacare.net/"+custom_url%>
						<%# path = "farcare.qburst.com/"+custom_url%>
					<% elsif @resource.has_role?(:fcg) %>
						<% custom_url = @resource.care_client.care_giver_company.admin_setting.custom_url%>
						<% path = "www.homacare.net/"+custom_url%>
						<%# path = "farcare.qburst.com/"+custom_url%>
					<% end %>

					<p>Please <%= link_to "click here", path %> to go to your login page </p>
				</tr>
      </table>
    </div>
    <center><div id="footer"><p style="color:#a6a6a6;font-size:12px;font-family:arial;">&copy;2014 FarCare All rights reserved</p></div></center>
  </body>
</html>


