<div id="outer-wrapper">
  <h1 id="login-logo"><%= image_tag "devise-logo.png", :width => "141", :height => "60"%></h1>
<div id="login-wrapper">
    <div id="login-cnt" class="success-msg">
        <div class="row-box center">
          <%= image_tag "success-tick.png", :width => "66", :height => "52"%> 
       </div>
       <h2>Account Confirmed!</h2>
       <p>Your account has been confirmed. Please set your password by clicking following link<%#= link_to 'Set password', edit_password_url(@resource, :reset_password_token => @resource.reset_password %>
       <%= link_to 'Set password', set_password_path(@resource.id,
       :set_password_token => @resource.reset_password_token) %></p>
       <div class="row-box center pad-btm-0">
          
       </div>
       <div class="login-btm-bg"><%= image_tag "success-btm.png", :width => "595", :height => "7"%></div>
   </div>
</div>

  <div id="login-footer">
    <p>©2014 HomaCare All rights reserved</p>
  </div>
</div>