<% if @length > 0 %>
	var myjson = <%=  @states %>;
	var type = <%= @type %>;
	<% if @type == 'country' %>
			$('#state option:gt(0)').remove();
			$.each(myjson, function(key, value){
				$('#state').append($("<option></option>").attr("value", key).text(value));
			});
			$('#state').show();
	<% else %>
			$('#copy_state option:gt(0)').remove();
			$.each(myjson, function(key, value){
				$('#copy_state').append($("<option></option>").attr("value", key).text(value));
			});
			$('#copy_state').show();
	<% end %>
<% else %>
	<% if @type == 'country' %>
		$('#state').hide();
	  $('#state option:gt(0)').remove();
	  $('#state').next().html('Please select');
	<% else %>
		$('#copy_state').hide();
	  $('#copy_state option:gt(0)').remove();
	  $('#copy_state').next().html('Please select');
	<% end %>
<% end %>
