/************* for accordian ****************/
.accordian-list {	
	float: left;
	width: 100%;
}
.accordian-head {
	padding: 10px;
	cursor: pointer;
	position: relative;
	margin-bottom:2px;
	background-color:#c8ecff;
	color:#37454c;
	font-size:16px;
	overflow:hidden;
}
.accordian-head.active{
	margin-bottom:0;
}
.accordian-head .arrow{
	background-image:asset_url('down.png'); 
	background-repeat: no-repeat;
	background-position: center;
	position:absolute;
	right:0;
	top:0;
	height:39px;
	width:37px;
	border-left:1px solid #b7ddf2;
}
.accordian-head .delete-accordian{
	background-image:asset_url('delete-accordian.png'); 
	background-repeat: no-repeat;
	background-position: center;
	right:38px;
	top:0;
	height:39px;
	width:37px;
	border-left:1px solid #b7ddf2;
	position:absolute;
}	
.accordian-head.active .arrow{
	background-image:asset_url('up.png'); 
	background-repeat: no-repeat;
	background-position: center;
}
.accordian-body {
	display:none;
	margin-bottom:2px;
	border-width:0 1px 1px 1px;
	border-color:#c8ecff;
	border-style:solid;
}
.accordian-body li{
	padding:12px 8px;
	color:#676767;
	font-size:13px;
	border-bottom:1px solid #e6e6e6;
	position:relative;
	overflow:hidden;
}
.delete-sub{
	background-image:asset_url('delete-sub.png'); 
	background-repeat: no-repeat;
	background-position: center;
	position:absolute;
	height:40px;
	width:36px;
	right: 0;
	top: 0;
	border-left:1px solid #e6e6e6;
	cursor:pointer;
}	
.accordian-body li.last{
	border-bottom:0;
}
.add-service-btn, .new-category{
	float: left;
	width: 193px;
	margin: 0 0 0 10px;
	font-size: 18px;
	padding: 8px 0;
	text-align: center;
}
.add-service-inpt{
	float:left;
	width: 17% !important;
}
.new-category-section input[type="text"]{
	width: 166px;
	float:left;
}
.category-error{
	float:right; 
	font-size:13px; 
	margin-top: 1%;
}
.service-error{
	float:right; 
	margin-top: 1%;
}
.sigNav li{
	border-bottom: 0;
}
.sigNav{
	clear: both;
  float: right;
}
.sigWrapper{
	 border: 1px solid #D6D6D6;
   float: left;
}
	
	