#flash_alert, #error_explanation ul li, #error_explanation p{
	color:red;
}

#login_error  {
	min-height: 30px;
}
#login_error  p{
	color:red;
}
#login_error,  #flash_notice{
	color:green;
}
	table th a,table th a:visited {
	padding-right: 12px;
	color: #CBDBEB;
}

.farCare-tble th .current {
  background-repeat: no-repeat;
  background-position: right center;
}

.farCare-tble th .asc { 
  background-image: asset_url('arrow_up.png'); 
}

.farCare-tble th .desc { 
  background-image: asset_url('arrow_down.png'); 
}

.farCare-tble td.red{
	color: #FF0000;
}

.farCare-tble td.green{
	color: #006400;
}

.farCare-tble td.blue{
	color: #0000FF;
}

.pageactive, .pageactive:hover{
	background-color:#26a7e9;
	color:#fff;
}
.first_page{
	margin-right:50px;
}
.prev, .first_page{
	color:#A8A8A8;
}





#pagination{
	padding:8px 0;
	border:1px solid #c2deed;
	margin-top:20px;
	text-align:center;
}
/*#pagination ul{
	margin:0 auto;
	width: 730px;
}*/
#pagination span{
	display:inline-block;
	margin-right:8px;
	font-size:11px;
	padding:7px;
}

.prev{
	margin-right:90px !important;
}
.next{
	margin-left:90px !important;
}
.pcgc_row{
		cursor: pointer; 
}
.error{
	color: #FF0117;
	font-size: 12px;
}
.error-signature{
	color: #FF0117;
	font-size: 12px;
	padding-left: 10px;
}
.error1{
	color: #FF0117;
}
 .start_date, .end_date{
  padding-left: 10px;
	color: #FF0117;
	font-size: 12px;
}



.ms-container{
	width:100%;
	float:left;
	margin-top:10px;
	 background-image: asset_url('switch.png'); 
}
.ms-container .ms-selectable, .ms-container .ms-selection{
	width:455px;
}
.choose-care-giver1, .choose-care-giver2{
	width:48% !important;
	margin-top:30px;
	color:#8a8a8a !important;
}
.choose-care-giver2{
	float:right !important;
}
.ms-container .ms-selection li:hover{
	cursor: pointer;
color: #fff;
text-decoration: none;
background-color: #08c;
}
input[readonly], .select-readonly{
	background-color:#ebebe4 !important;
}
.ui-datepicker{
	z-index:9 !important;
}

