/*********************** selectbox*************************/
.select-wrapper {
	float: left;
	display: inline-block;
	border:1px solid #d6d6d6;
	background: asset_url("dropdown-arrow.png") no-repeat 96% center;
	cursor: pointer;
	font-family: 'verdanaregular';
}
.select-wrapper {
	padding:10px 18px;
}
/*.select-wrapper:hover {
	background: asset_url("dropdown-arrow-hover.png") no-repeat 96% center;
	border-color: #ace2ec;
}*/
.select-wrapper .holder {
	display: block;
	margin: 0 30px 0 0;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	/*position: relative;*/
		z-index: -1;
}
.select-wrapper select {
	margin: 0;
	position: absolute;
	z-index: 2;
	cursor: pointer;
	outline: none;
	opacity: 0;
	/* CSS hacks for older browsers */
	_noFocusLine: expression(this.hideFocus=true);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-khtml-opacity: 0;
	-moz-opacity: 0;
	width: 254px;
	padding-bottom:6px;
}
/******* new added styles*****/
.inputs .select-wrapper, .choose-cmpny .select-wrapper, .register-now .select-wrapper, .ui-dialog .ui-dialog-content .select-wrapper, .choose-cc .select-wrapper{
	width:100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	padding-left:0;
}
.inputs .select-wrapper{
	margin-top:10px;
}
.inputs .select-wrapper select{
	width:455px;
}
.choose-cmpny .select-wrapper select{
	width:261px;
}
.inputs .select-wrapper .holder, .choose-cmpny .select-wrapper .holder,.choose-cmpny .select-wrapper .holder, .register-now .select-wrapper .holder, .ui-dialog .ui-dialog-content .select-wrapper .holder, .choose-cc .select-wrapper .holder{
	padding-left:18px;
	min-height: 17px;
}
.care-tracker-reminder .select-wrapper{
	width:97px;
	background-position-x:80%;
}
.care-tracker-reminder .select-wrapper select{
	width:97px;
}
.care-tracker-reminder .select-wrapper .holder{
	margin-right: 15px;
	padding-left: 18px;
	background-position: 96%;
}
/** popup calender **/
.ui-dialog .ui-dialog-content .select-wrapper{
	width: auto;
	position: relative;
	padding-right: 25px;
	background: url(/assets/dropdown-arrow.png) no-repeat 90% center;
	margin-right: 5px;
	float: none;
}
.ui-dialog .ui-dialog-content .select-wrapper:last-child{
	margin-right: 0;
}
.ui-dialog .ui-dialog-content .pop-time .select-wrapper:nth-child(2), .ui-dialog .ui-dialog-content .pop-time .select-wrapper:nth-child(3){
	width:94px;
}
.ui-dialog .ui-dialog-content .pop-time .select-wrapper:nth-child(4){
	width:76px;
}
.ui-dialog .ui-dialog-content .repeats .select-wrapper:nth-child(2){
	width: 220px;
}
.ui-dialog .ui-dialog-content .select-wrapper select{
	width:100%;
}
.ui-dialog .ui-dialog-content .select-wrapper .holder{
	margin-right: 0;
}
.assign-pcg-calendar .select-wrapper{
	background-color: #fff !important;
	width: 72% !important;
}
.choose-cc .select-wrapper{
	width: 250px;
	position: relative;
}
.choose-cc .select-wrapper select{
	width: 100%;
	top: 4px;
}
.choose-cmpny.inner{
    margin-bottom: 0;
    margin-right: 142px;
}
.choose-cmpny.inner .select-wrapper{
    padding: 12px 18px 12px 0;
}
.choose-cmpny.inner .select-wrapper .holder{
    font-size: 14px;
}

.choose-cmpny.inner.without-btn{
	margin-right: 0;
}
